<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>

    <a href='/newpost' class="new-post">New Post</a>
    <a href='/logout' class="logout">Logout</a>
    <hr>
    <div class='blog-page'><a href='/blog' class="blog-page">Blog</a></div>

    
<body>

    {% block content %}
    {% endblock %}

</body>
<style>
    .new-post {
        padding: 5px;
        border: 50px;
    }
    .blog-page {
        padding: 5px;
    }
    .logout { 
        padding: 25px;

    }
    
</style>
</html>
