{% extends "base.html" %}

{% block content %}

    <style>
        h2{
            display:block;
        }
        h4 {
            display: block;
        }
        p.written {
            font-style: italic;
        }

    </style>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

            {% for blog in blogs %}
                {% for user in users %}
            <a href= "{{ '/blog/%s'%blog.id }}" > 
                <h2>{{ blog.title }}</h2> 
            </a>
                <p class="written">written by: {{ user.username }}</p>
        

                <p>{{ blog.content }}</h4>

                <hr>
                {% endfor %}
            {% endfor %}


    {% endif %}




{% endblock %}